h1,
h2,
h3,
h4 {
  margin-top: 0;
}

.page-header {
  margin-top: 30px;
}

.no-pad-top {
  padding-top: 0;
}

.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

.top-inner {
  padding: 90px 0 30px 0;
}

.img-xs {
  width: 200px;
}

.img-sm {
  width: 200px;
}

.img-md {
  width: 200px;
}

.img-lg {
  width: 200px;
}

.clearfix {
  clear: both;
}
